<div class="header_min">
	<div class="header_min_nei">
		<div class="header_min_nei_left"><a href="{mobileurl()}">
			<h1 class="min_h">中国贸易在线</h1>
			<p style="font-size: 0.8em;"></p></a>
		</div>
		<div class="header_min_nei_right"><a href="search.php"><span></span></a></div>
	</div>
</div>
<div class="header_min_Nav">
	<div class="header_min_Naver">
		<div class="header_min_Naverw{if $module=='article'} menu_cur{/if}"> <a href="{mobileurl(21)}" class="header_aa">新闻资讯</a> </div>
		<div class="header_min_Naverw{if $module=='club' && $catid==230} menu_cur{/if}"> <a href="{mobileurl(18, 230)}" class="header_aa">法律服务</a> </div>
		<div class="header_min_Naverw{if $module=='club' && $catid==229} menu_cur{/if}"> <a href="{mobileurl(18, 229)}" class="header_aa">交流论坛</a> </div>
		<div class="header_min_Naverw{if $module=='club' && $catid==231} menu_cur{/if}"> <a href="{mobileurl(18, 231)}" class="header_aa">金融服务</a> </div>
		<div class="header_min_Naverw{if $module=='club' && $catid==340} menu_cur{/if}"> <a href="{mobileurl(18, 340)}" class="header_aa">专家服务</a> </div>
	</div>
</div>