<div class="mainright">
      <div class="righttop">
        <h3>经贸资讯<span>NEWS AND INFORMATION</span></h3>
        <dl>
		<!--{tag("moduleid=21&&catid=224&condition=status=3&pagesize=10&order=addtime desc&template=list-news")}-->
          <h2><a class="more" href="{$MODULE[21][linkurl]}{rewrite('list.php?catid=224')}">更多资讯</a></h2>  
          <span><a href="#"><img src="{DT_SKIN}image/zximg1.jpg" width="138" height="86" /><img src="{DT_SKIN}image/zximg2.jpg" width="106" height="86" /></a></span>         
        </dl>
      </div>
      <div class="righttop">
        <h3>出口风险预警<span>EARLY WARNING</span></h3>
        <dl>
          <!--{tag("moduleid=21&&catid=225&condition=status=3&pagesize=10&order=addtime desc&template=list-news")}-->
          <h2><a class="more" href="{$MODULE[21][linkurl]}{rewrite('list.php?catid=225')}">更多资讯</a></h2>  
          <span><a href="#"><img src="{DT_SKIN}image/zximg1.jpg" width="138" height="86" /><img src="{DT_SKIN}image/zximg2.jpg" width="106" height="86" /></a></span>         
        </dl>
      </div>
     <div class="righttop">
        <h3>展会信息<span>EXHIBITION INFORMATION</span></h3>
        <dl>
          <!--{tag("moduleid=21&&catid=226&condition=status=3&pagesize=10&order=addtime desc&template=list-news")}-->
          <h2><a class="more" href="{$MODULE[21][linkurl]}{rewrite('list.php?catid=226')}">更多资讯</a></h2>  
          <span><a href="#"><img src="{DT_SKIN}image/zximg3.jpg" width="138" height="86" /><img src="{DT_SKIN}image/zximg4.jpg" width="106" height="86" /></a></span>         
        </dl>
      </div>
</div>